*.DS_Store
DimletController/Release
MouseController/Release
build
*.mode1v3
*.pbxuser
*.perspectivev3
Bin
*.lo
*.o
JBKinectHacks.xcodeproj/project.xcworkspace/xcuserdata
JBKinectHacks.xcodeproj/xcuserdata
ZmqPub/Release
